html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: #f8f9fb;
}

::-webkit-scrollbar { width: 0.6vh; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #28282B; border-radius: 10vh; transition: 0.3s ease; }
::-webkit-scrollbar-thumb:hover { background: #0e62a2; }

.asd {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.A-list {
  flex: 1;
  width: 90%;
  margin: 0 auto;
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
  margin: 0 auto 4vh auto;
  width: 100%;
  max-width: 65%;
  flex-wrap: wrap;
}

.search-bar,
.sort-dropdown {
  min-width: 5vh;
  margin-top: 4vh;
  margin-bottom: 4vh;
  padding: 1vh;
  border: 0.1vh solid #ddd;
  outline: none;
  border-radius: 1vh;
  font-size: 1.8vh;
  box-shadow: 0 0.2vh 0.5vh rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.search-bar { flex: 20; }
.sort-dropdown { flex: 1; }

/* Grid განლაგება */
.As {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32vh, 1fr));
    gap: 3vh;
    padding: 1vh 0;
}

/* ბარათი - სიმაღლე შევამცირე, რადგან ფოტო აღარ არის */
.A {
  background-color: white;
  border-radius: 1.5vh;
  overflow: hidden;
  transition: 0.3s ease;
  box-shadow: 0 1vh 3vh rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  height: 30vh; 
  padding: 2vh;
}

.A:hover {
  transform: translateY(-0.5vh) scale(1.02);
  box-shadow: 0 2vh 5vh rgba(0, 0, 0, 0.18);
}

/* კონტენტი - სრულად იკავებს ადგილს */
.A-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.A-content h3 {
  margin: 0 0 1vh 0;
  color: #28282B;
  font-size: 2.2vh;
  overflow: hidden;
}

.A-content p {
  font-size: 1.6vh;
  margin: 0.7vh 0;
  color: #444;
  line-height: 1.6;
  flex: 1; /* ტექსტი გაივსება თავისუფალ ადგილს */
}

.A-buttons {
  margin-top: auto;
  padding-top: 1vh;
}

.A-buttons button {
  padding: 1.2vh 2.5vh;
  background: #28282B;
  color: white;
  border: none;
  border-radius: 1vh;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 1.5vh;
}

.A-buttons button:hover {
  background-color: #0a4d82;
  transform: scale(1.03);
}

.delete-btn {
  background-color: #a20e0e !important;
  margin-left: 1vh;
}
.A-image {
  width: 100%;
  background-image: url('../images/asd.jpg  ');
  background-size:cover;
}

/* მობილურის სტილები */
@media (max-width: 100vh) {
  .A { height: 28vh; }
  .A-content h3 { font-size: 1.8vh; }
  .A-content p { font-size: 1.3vh; }
  .A-buttons button { font-size: 1.2vh; padding: 1vh 2vh; }
}