html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: #f8f9fb;
}

::-webkit-scrollbar {
  width: 0.6vh;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #28282B;
  border-radius: 10vh;
  transition: 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #0e62a2;
}


.asd {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.A-list {
  flex: 1;
  width: 90%;
  margin: 0 auto;
  color: #ffffff;
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
  margin: 0 auto 4vh auto;
  width: 100%;
  max-width: 65%;
  flex-wrap: wrap;
}

.search-bar,
.sort-dropdown {
  min-width:5vh;
  margin-top:4vh;
  margin-bottom:4vh;
  padding: 1vh;
  border: 0.1vh solid #ddd;
  outline: none;
  border-radius: 1vh;
  font-size: 1.8vh;
  box-shadow: 0 0.2vh 0.5vh rgba(0, 0, 0, 0.05);
  transition: 0.3s;

}
.sort-dropdown option {
  font-size: clamp(0.8vh,1.5vh,2vh);
  background-color: white;
}

.search-bar {
  flex: 20;
}

.sort-dropdown {
  flex: 1;
}

.search-bar:focus,
.sort-dropdown:focus {
  border-color: #0e62a2;
  box-shadow: 0 0 1vh rgba(14, 98, 162, 0.2);
}


.As {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32vh, 1fr));
    gap: 3vh;
    padding: 1vh 0;
}

.A {
  background-color: white;
  border-radius: 1.5vh;
  overflow: hidden;
  transition: 0.3s ease;
  box-shadow: 0 1vh 3vh rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  height: 45vh;
}

.A:hover {
  transform: translateY(-0.5vh) scale(1.02);
  box-shadow: 0 2vh 5vh rgba(0, 0, 0, 0.18);
}


.A-image {
  width: 100%;
  background-image: url('../images/asd.jpg  ');
  background-size:cover;
}
.A img {
  width: 100%;
  height: 15vh;
  object-fit: cover;
}

.A-content {
  padding: 2vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.A-content h3 {
  margin: 0 0 1vh 0;
  color: #28282B;
  font-size: 2vh;
}

.A-content p {
  font-size: 1.5vh;
  margin: 0.7vh 0;
  color: #444;
  line-height: 1.6;
}


.A-buttons {
  margin-top: auto;
  padding-top: 2vh;
}

.A-buttons button {
  padding: 1.2vh 2.5vh;
  background: #28282B;
  color: white;
  border: none;
  border-radius: 1vh;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 1.5vh;
}

.A-buttons button:hover {
  background-color: #0a4d82;
  transform: scale(1.03);
}


.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  margin-top: 4vh;
  padding-bottom: 4vh;
  flex-wrap: wrap;
}

.pagination-controls button {
  background-color: #28282B;
  color: white;
  border: none;
  padding: 1.2vh 3vh;
  border-radius: 1vh;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 1.5vh;
}

.pagination-controls button:hover {
  background-color: #0e62a2;
  transform: scale(1.03);
}

.no-data {
  text-align: center;
  grid-column: 1 / -1;
  color: #999;
  font-size: 2vh;
  padding: 4vh 0;
}
span {
  font-size: 1.5vh;
  color:#28282B;
}
@media (max-width: 100vh) {
  .A {
  background-color: white;
  border-radius: 1.5vh;
  overflow: hidden;
  transition: 0.3s ease;
  box-shadow: 0 1vh 3vh rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  height: 35vh;
}
.A-content h3 {
  color: #28282B;
  font-size: 1.5vh;
}

.A-content p {
  font-size: 1vh;
  margin: 0.7vh 0;
  color: #444;
  line-height: 1.6;
}


.A-buttons {
  margin-top: auto;
  padding-top: 2vh;
}

.A-buttons button {
  background: #28282B;
  color: white;
  border: none;
  border-radius: 1vh;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 1vh;
}

.A-buttons button:hover {
  background-color: #0a4d82;
  transform: scale(1.03);
}



}
