
body{
  background-color: #f0f0f0; 
}
.Employment-list {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  background-color: #f0f0f0; 
    border-radius:5px;
}

.Employment-list-title {
        font-family: "Noto Sans Georgian", sans-serif;

    text-align: center;
    color: #28282B;
    font-size: 2rem;
    margin-bottom: 35px;
    font-weight: 700;
}

.controls-container {
    display: flex;
    gap: 10px;
    align-items: stretch;
}

.search-bar {
    flex: 3;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box; /* აუცილებელია სწორი ზომისთვის */
    height: 45px; /* ფიქსირებული სიმაღლე ორივესთვის */
}

.search-bar:focus {
    border-color: #0e62a2;
}

.sort-dropdown {
    flex: 1 !important;
    min-width: 120px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    box-sizing: border-box;
    height: 45px; /* იგივე სიმაღლე, რაც ინპუტს */
    font-size: 0.9rem;
}

.sort-dropdown:focus {
    border-color: #0e62a2;
}

.employments {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.employment {

    display: flex;
    border: 1px solid #e1e4e8;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s;
}

.employment:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.employment img {
    width: 280px;
    height: 180px;
    object-fit: cover;
}

.employment-content {
    background-color: white;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.employment-content h3 {
    color:  #28282B;
    margin: 0 0 10px 0;
    font-size: 1.4rem;
}

.employment-content p {
    margin: 4px 0;
    color: #555;
    font-size: 0.95rem;
}

.EmploymentButtons button {
    background-color:  #28282B;
    color: white;
    border: 1px solid #28282B;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.EmploymentButtons button:hover {
    background-color: #0e62a2;;
    color: white;
}

.pagination-controls {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.pagination-controls button {
    background-color: white;
    border: 1px solid #0e62a2;
    color: #0e62a2;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.pagination-controls button:disabled {
    border-color: #ccc;
    color: #ccc;
}


/* მობილურზეც კი დავტოვოთ გვერდიგვერდ */
@media (max-width: 600px) {
    .controls-container {
        gap: 8px;
    }
    .sort-dropdown {
        min-width: 100px;
        flex: 1.5 !important; /* მობილურზე ოდნავ მეტი ადგილი */
    }
    .employment {
        flex-direction: column;
    }
    .employment img {
        width: 100%;
    }
}
.asd1{
    background-image: url('../images/imag3.jpg');
}