:root {
  
  --border: #c7dbff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f9ff;
  color: #28282b;
}

.profile {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.profile__container {
  width: 155vh;
  background: white;
  border-radius: 1vh;
  padding: 5vh;
  box-shadow: 0 2vh 4vh rgba(37, 99, 235, 0.12);
  animation: fade 0.4s ease;
}

.profile__topbar {
  display: flex;
  justify-content: flex-end;
  gap: 2vh;
  margin-bottom: 3vh;
}
.profile__info h2 {
  min-height: 5vh;
  padding: 1.4vh;
  border: 0.15vh solid var(--border);
  border-radius: 0.5vh;
  display: flex;
  align-items: center;
  font-size: 2vh;
  font-weight: 500;
}

.profile__info p {
  min-height: 5vh;
  padding: 1.4vh;
  border: 0.15vh solid var(--border);
  border-radius: 0.1vh;
  display: flex;
  align-items: center;
  font-size: 1.5vh;

  white-space: pre-wrap;
  word-break: break-word;
  align-items: flex-start;
}


.btn {
  padding: 1.4vh 2vh;
  border-radius: 1vh;
  border: none;
  cursor: pointer;
  font-size: 1.5vh;
  font-weight: 500;
  transition: 0.2s;
}

.btn:hover {
  background-color:#28282b;
  transform: translateY(-0.2vh);
}

.edit {
  background:#0e62a2;
  color: white;
}

.save {
  background: #16a34a;
  color: white;
}

.cancel {
  background: #dc2626;
  color: white;
}

.profile__header {
  display: grid;
  grid-template-columns: 26vh 1fr;
  gap: 3vh;
}

.profile__photoBox {
  width: 26vh;
  height: 26vh;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  border: 0.2vh solid var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.profile__photoBox:hover {
  border-color: #28282b;
  box-shadow: 0 1.5vh 3vh rgba(37, 99, 235, 0.15);
}

.profile__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.profile__info {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.nameRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vh;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.6vh;
}
.bio-field p {
  min-height: 15vh;
  align-items: flex-start;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

label {
  font-size: 2vh;
  color: #0e62a2;
  font-weight: 500;
}

small {
  font-size: 1.2vh;
  color: #28282b;
}

input,
textarea {
  padding: 1.4vh;
  border-radius: 1vh;
  border: 0.15vh solid var(--border);
  font-size: 1.5vh;
  outline: none;
  transition: 0.2s;
}

input:focus,
textarea:focus {
  border-color: #000000;
  box-shadow: 0 0 0 0.3vh rgba(37, 99, 235, 0.15);
}

textarea {
  min-height: 10vh;
  resize: none;
}

.readonly {
  padding: 1.4vh;
  border-radius: 1vh;
  background: #0e62a2;
  font-size: 1.5vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vh;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(1vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 92vh) {

  .profile__container {
    width: 90vh;
  }

  .profile__header {
    grid-template-columns: 1fr;
  }

  .nameRow {
    grid-template-columns: 1fr;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .profile__photoBox {
    margin: auto;
  }
}
