body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.about-section {
    display: block;
    margin-top: 70px;
    padding: 20px; 
}

.about-container {
    margin: 0 auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    max-width: 1150px;
    width: 100%;
    min-height: 450px; 
    height: auto; 
    border-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-container:hover {
    
    box-shadow: -15px 15px 30px rgba(40, 40, 43, 0.15);
    transform: translateX(-5px) translateY(-5px);
}

.about-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #28282B;
}

.about-content h1 {
    font-size: 2.5rem;
    margin: 0;
}

.about-content p {
    margin-top: 20px;
    font-size: 1.05rem;
    line-height: 1.7;
}

.about-image-wrapper {
    display: flex;
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width: 850px) {
    .about-container {
        border-top-right-radius: 50px; 
    }

    .about-img {
        height: 350px; 
        border-top-right-radius: 50px;
        border-bottom-right-radius: 0;
    }

    .about-content {
        padding: 40px 30px;
        text-align: center;
    }
}