* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Noto Sans Georgian", sans-serif;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


:root {
    --tsu-dark: #1a1a1a;
    --tsu-accent: #3498db;
    --text-muted: #999;
    --white: #ffffff;
}

.footer-main {
     min-height: 100%;
  display: flex;
  flex-direction: column;
    width: 100%; 
    background-color: var(--tsu-dark);
    color: var(--white);
    padding: 8vh 8vh 3vh;
    border-top: 0.4vh solid var(--tsu-accent);
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vh, 1fr));
    gap: 5vh;
    width: 90%;
    max-width: 100%; 
    margin: 0 auto;
}

.footer-section h4 {
    font-size: 1.8vh;
    color: var(--white);
    margin-bottom: 2vh;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-list li {
    margin-bottom: 1.8vh;
}

.footer-link {
    color: var(--text-muted);
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 1.8vh;
}

.footer-link:hover {
    color: var(--tsu-accent);
    padding-left: 1vh; 
}

.footer-bottom {
    margin-top: 6vh;
    width: 100%;
    text-align: center;
    border-top: 0.1vh solid rgba(255, 255, 255, 0.1);
    padding-top: 2vh;
}


.footer-bottom p {
    font-size: 1vh;
    color: #666;
}

@media (max-width: 95vh) {
.footer-section h4 {
    font-size: 1.3vh;
    color: var(--white);
    margin-bottom: 2vh;
}
   .footer-link {
    color: var(--text-muted);
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 1.3vh;
}
    .footer-link:hover {
        padding-left: 0; 
    }
    .footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5vh,1fr));
    width: 100%;
    max-width: 100%; 
    margin: 0 auto;
}

}